@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 9, 6;
  --background-end-rgb: 10, 9, 6;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom styles for matching the premium vibe */
h1, h2, h3, h4, h5, h6 {
  @apply tracking-tight;
}

input, textarea, select {
  @apply bg-transparent;
}
