@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 9, 6;
  --background-end-rgb: 10, 9, 6;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: 'Inter', sans-serif;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply tracking-tight;
  }
}

/* Premium Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0906;
}

::-webkit-scrollbar-thumb {
  background: #1a1916;
  border: 2px solid #0a0906;
}

::-webkit-scrollbar-thumb:hover {
  background: #c4a661;
}
